<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <httpHandlers>
            <add verb="*" path="benchmark.ashx"
                 type="BenchmarkHandler, BenchmarkHandlerAssembly" />
        </httpHandlers>
        <customErrors mode="Off"/>
    </system.web>
    <system.webServer>
        <add name="BenchmarkHandler" verb="*" path="benchmark.ashx" />
    </system.webServer>
</configuration>